@import "tailwindcss";

/* --- POWERGRID THEMES --- */

@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

@theme {
    /* --- PALETA MJ ENGENHARIA --- */

    /* PRIMARY: Baseado no #004E70 */
    /* Para Sidebar, Textos principais e Bordas fortes */
    --color-primary-50: #f0f7fa;
    --color-primary-100: #e0eff5;
    --color-primary-200: #b8dfea;
    --color-primary-300: #80c4db;
    --color-primary-400: #42a1c7;
    --color-primary-500: #1f85b0;
    --color-primary-600: #146a91;
    --color-primary-700: #115676;
    --color-primary-800: #004e70; /* <--- SUA COR ORIGINAL (Como tom 800) */
    --color-primary-900: #0c3e56;
    --color-primary-950: #06283b;

    /* SECONDARY: Baseado no #26AEEA */
    /* Para Botões, Links ativos e Ícones */
    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #26aeea; /* <--- SUA COR ORIGINAL (Como tom 400/500) */
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
    --color-secondary-950: #082f49;

    /* AUXILIAR: Baseado no #FFE999 */
    /* Para Alertas, Badges e Destaques sutis */
    --color-auxiliar-100: #fffbeb;
    --color-auxiliar-200: #fff1c2;
    --color-auxiliar-300: #ffe999; /* <--- SUA COR ORIGINAL */
    --color-auxiliar-400: #fbbf24;
    --color-auxiliar-500: #f59e0b; /* Um pouco mais escuro para texto legível */
    --color-auxiliar-600: #d97706;

    /* TABELAS POWERGRID */
    --color-pg-primary-50: oklch(0.985 0 0);
    --color-pg-primary-100: oklch(0.97 0 0);
    --color-pg-primary-200: oklch(0.922 0 0);
    --color-pg-primary-300: oklch(0.87 0 0);
    --color-pg-primary-400: oklch(0.708 0 0);
    --color-pg-primary-500: oklch(0.556 0 0);
    --color-pg-primary-600: oklch(0.439 0 0);
    --color-pg-primary-700: oklch(0.371 0 0);
    --color-pg-primary-800: oklch(0.269 0 0);
    --color-pg-primary-900: oklch(0.205 0 0);
    --color-pg-primary-950: oklch(0.145 0 0);
}
